<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security6"
>
  <head>
    <title>Spring Security SAML2</title>
  </head>
  <body>
    <h1>SAML2 Login Example</h1>

    <!-- info -->
    <div sec:authorize="hasRole('USER')">Text visible to user.</div>
    <div sec:authorize="hasRole('ADMIN')">Text visible to administrator.</div>
    <div sec:authorize="isAuthenticated()">
      Text visible only to authenticated users.
    </div>
    <br />

    <p>principal : <span sec:authentication="principal"></span></p>
    <hr />
    <p>name : <span sec:authentication="name"></span></p>
    <hr />
    <p>authorities : <span sec:authentication="authorities"></span></p>
    <hr />
    <br />

    <!-- logout -->
    <div>
      <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" />
      </form>
    </div>
  </body>
</html>
